{% extends 'base.html' %}

{% block content %}
    {% comment %} 
    docpage.name -- название статической страницы
    docpage.text -- описание к странице (текст)
    docpage.files.all -- список файлов, прикреплённых к странице
    
    теперь по поводу файлов. пусть у нас есть файл doc
    тогда:
        doc.upload.url -- ссылка на сам файл
        doc.upload.name -- название файла при загрузке
        doc.name -- название файла, присковенное пользователем при загрузке
        doc.date -- дата последней загрузки
    {% endcomment %}

    <h1>{{ docpage.name }}</h1>

    <p>{{ docpage.text|safe }}</p>

    {% for doc in docpage.files.all %}
        <a href="{{ doc.upload.url }}">
            <p>{{ doc.name }}</p>
            <p>Updated: {{ doc.date }}</p>
        </a>
    {% endfor %}

{% endblock %}