{% extends 'base.html' %}

{% block content %}
    {% comment %} 
    docpage.name -- название статической страницы
    docpage.text -- описание к странице (текст)
    docpage.files.all -- список файлов, прикреплённых к странице
    
    теперь по поводу файлов. пусть у нас есть файл doc
    тогда:
        doc.upload.url -- ссылка на сам файл
        doc.upload.name -- название файла при загрузке
        doc.name -- название файла, присковенное пользователем при загрузке
        doc.date -- дата последней загрузки
    {% endcomment %}
 <div class="container">
    <div class="row">
         <div class="col class static-main maincont">
            <div class="bord"></div>
                <h1>{{ docpage.name }}</h1>

                <p>{{ docpage.text|safe }}</p>
    
                {% for doc in docpage.files.all %}
                <div class="downloadfiles_row">
                    <a href="{{ doc.upload.url }}"class="downloadlink">
                        <div class="downloadfile pdf">
                            <span>{{ doc.name }}</span> 
                            <span class="updated">Updated: {{ doc.date }}</span>
                        </div>
                        </a>
                 </div>
    {% endfor %}
         </div>
     </div>
</div>

{% endblock %}