body {
    color: #fefdff;
    font-family: "Noto Sans", sans-serif;
    background-color: #f2f7ff; }
    body p {
      font-family: Lora, serif;
      line-height: 1rem;
      font-size: 1.1rem; }
  
  span {
    line-height: 1rem;
    color: #333333; }

  
  .dopcont {
    background-color: #fefdff; 
    padding: 10px
}

    .dopcont h2{
        padding: 0 15px;
    }

    .dopcont .caption{
        padding-left: 10px;
        padding-right: 10px;
    }

    .dopcontr{
        border-radius: 2px;
        border-left: 1.5px solid  #1a54e7; 
    }

    .dopcontl{
        border-radius: 2px;
        border-right: 1.5px solid  #1a54e7; 
    
    }

    .dopcontl h2{
        text-align: right;
    }

    .dopcont p.caption {
      font-family: Lora, serif;
      font-size: 22px;
      line-height: 1.7rem;
      text-align: justify;
      color: #333333;
     }
  
  .datetime {
    font-size: 0.6rem;
    padding-right: 10px; }