@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  box-sizing: border-box; }

body {
  color: #fefefe;
  font-family: "Noto Sans", sans-serif;
  background-color: #fefdff; }
  body p {
    font-family: "PT Serif", serif;
    line-height: 1rem;
    font-size: 1.1rem; }

span {
  line-height: 1rem;
  color: #333333; }

header {
  display: flex;
  background-color: #fefdff;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0 10px #c8c8c8; }
  header span {
    color: #fefdff; }

.logo {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #1a54e7; }

.logo img {
  max-width: 100px;
  max-height: 55px; }

.navbar-brand img {
  max-width: 100px;
  max-height: 50px; }

.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #fefdff;
  margin: 0 15px;
  white-space: nowrap;
  line-height: 0.8em; }

header .menu {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.menu .menu-item a {
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 20 15;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #1a54e7;
  transition: border 0.5s ease;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.menu .menu-item:first-child {
  margin-left: 80px; }

.menu .menu-item a:hover {
  border-bottom: 5px solid #1a54e7; }

.menu-btn {
  display: none; }

.menu-icon {
  display: none;
  content: " ";
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 30%;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

nav.navbar {
  background-color: #1a54e7 !important; }

#navitem {
  color: #fefdff;
  font-family: "Noto Sans", sans-serif; }

.phys-tech {
  font-size: 12px; }

.dopcont {
  padding: 10px; }
  .dopcont img {
    width: 200px; }
  .dopcont h2 {
    padding: 0 15px;
    color: #1a54e7; }
  .dopcont .caption {
    padding-left: 10px;
    padding-right: 10px; }
  .dopcont p.caption {
    font-family: "PT Serif", serif;
    font-size: 22px;
    line-height: 1.7rem;
    text-align: justify;
    color: #333333; }

.dopcontr {
  border-radius: 2px;
  border-left: 1.5px solid #1a54e7; }

.dopcontl {
  border-radius: 2px;
  border-right: 1.5px solid #1a54e7; }
  .dopcontl h2 {
    text-align: right;
    white-space: nowrap; }

button.click-me {
  display: block;
  margin: 10px auto !important;
  color: #fefdff;
  background-color: #1a54e7;
  border-color: #1a54e7;
  letter-spacing: 1px;
  font-family: "Raleway";
  font-size: 23px;
  font-weight: bold; }

.bord {
  margin: 0 auto;
  border-radius: 28%;
  margin-top: 3em;
  margin-bottom: 1em;
  border-bottom: 4px solid #1a54e7;
  max-width: 150px; }

#figlnk:hover {
  text-decoration: none; }

.figure {
  background-color: #fefdff;
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.7);
  margin: 13px 10px;
  transition: margin 0.4s ease;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .figure .flex {
    display: flex;
    justify-content: center; }
  .figure figcaption {
    padding: 5px;
    font-family: "PT Serif", serif;
    line-height: 1rem;
    color: #333333; }
  .figure img {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 250px; }

figure.figure:hover {
  margin: 6px 8px; }

figure.figure:active {
  margin: 6px 8px; }

.datetime {
  padding-left: 5px;
  font-size: 0.8em; }

a.user {
  font-size: 0.6rem; }

footer {
  background-color: #1a54e7;
  color: rgba(254, 253, 255, 0.8);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }
  footer .footer-logo {
    order: 2;
    flex-basis: 12%;
    text-align: center; }
    footer .footer-logo img {
      width: 100px; }
  footer .footertext1 {
    order: 3;
    text-align: left;
    align-self: center;
    flex-basis: 30%; }
  footer .footertext2 {
    order: 1;
    text-align: center;
    align-self: center;
    flex-basis: 30%; }
  footer p {
    font-style: "Noto Sans", sans-serif;
    white-space: nowrap;
    margin-bottom: 2px;
    font-size: 100%;
    line-height: 1.5em; }

.carousel-inner {
  max-height: 35vw;
  background-color: black; }
  .carousel-inner .carousel-caption {
    top: 15vw; }
    @media screen and (max-width: 700px) {
      .carousel-inner .carousel-caption {
        top: 8vw; } }
    @media screen and (max-width: 500px) {
      .carousel-inner .carousel-caption {
        top: 0; } }
  .carousel-inner img {
    opacity: 0.5; }
  .carousel-inner .carousel-indicators {
    margin-bottom: 0; }
  .carousel-inner .carousel-static-caption {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 15vw;
    z-index: 0; }

span.important {
  border-bottom: 2px dashed red;
  font-size: 1.1em; }

.maincont {
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
  margin-bottom: 20px; }
  .maincont .col-lg-5 {
    border-bottom: 1px solid #f5e2d6; }
  .maincont .content {
    position: relative;
    width: 100%;
    margin: 30px;
    padding: 0 25px;
    border-left: 2px solid #1a54e7;
    border-right: 2px solid #1a54e7; }
    .maincont .content img {
      display: block;
      margin: 15px auto; }
  .maincont .author {
    background-color: rgba(255, 255, 255, 0.521);
    border: 2px solid #55c1ff;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    max-width: 40%;
    margin-top: 1em;
    margin-left: -1em;
    padding-right: 3em;
    background-image: url("../images/blank-profile.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 10% 50%; }
    .maincont .author span {
      text-align: right;
      font-size: 80%;
      margin-top: 5px;
      margin-right: -30px;
      padding-left: 4em; }
    .maincont .author .author-caption {
      text-align: right;
      font-size: 60%;
      display: none; }
  .maincont p {
    color: #333333;
    line-height: 1.5em;
    margin-top: -8px;
    overflow: wrap;
    overflow-wrap: anywhere; }
  .maincont .post-title {
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-color: black; }
    .maincont .post-title .darken-image {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center; }
      .maincont .post-title .darken-image h1 {
        display: flex;
        color: #fefdff;
        font-size: 2em;
        text-shadow: 0 0 15px #000; }
  .maincont .maincont-footer {
    color: rgba(189, 137, 126, 0.5);
    padding-top: 25px;
    padding-bottom: 25px; }
  .maincont .date {
    float: right; }
  .maincont .topandbottom {
    z-index: -1; }

.static-main {
  margin-bottom: 0;
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.5); }
  .static-main p {
    color: #333333;
    font-size: 100%;
    margin-bottom: 0;
    padding-top: 20px;
    padding: 25px; }
  .static-main h2 {
    color: #1a54e7;
    border-bottom: 1.5px solid #1a54e7;
    padding: 5px; }
  .static-main .bord {
    margin-top: 15px; }
  .static-main .bord-2 {
    margin-bottom: 20px; }
  .static-main .docpage-header {
    color: #1a54e7;
    text-align: center;
    margin: 20px 10px; }

.downloadfiles {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px; }
  .downloadfiles a {
    text-decoration: none;
    transition: transform 0.5s ease; }
  .downloadfiles a:hover {
    color: #1a54e7;
    text-decoration: none;
    transform: scale(1.05); }

.downloadfile {
  font-size: 1.2rem;
  color: #1a54e7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 20px;
  margin: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px;
  background-color: rgba(85, 193, 255, 0.035); }
  .downloadfile p.updated {
    color: #333333;
    font-size: 0.65rem;
    border: none;
    margin: 0;
    padding: 0; }

.posts-container-ws {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .posts-container-ws .posts-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .posts-container-ws .posts-container .postcard {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      height: 300px;
      margin: 10px 15px;
      box-shadow: 0 0 10px rgba(200, 200, 200, 0.7);
      transition: transform 0.5s ease; }
      @media screen and (max-width: 900px) {
        .posts-container-ws .posts-container .postcard {
          max-width: 45%; } }
      @media screen and (max-width: 600px) {
        .posts-container-ws .posts-container .postcard {
          max-width: 90%; } }
      .posts-container-ws .posts-container .postcard .image-container {
        width: 100%;
        height: 150px;
        overflow: hidden;
        text-align: center; }
        .posts-container-ws .posts-container .postcard .image-container img {
          width: 100%;
          object-fit: cover; }
      .posts-container-ws .posts-container .postcard .caption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        color: black;
        overflow-wrap: break-word;
        margin: 0 8px 8px 8px; }
        .posts-container-ws .posts-container .postcard .caption h4 {
          font-family: "Noto Sans", sans-serif;
          font-size: 1.1rem;
          font-weight: 600;
          text-align: center;
          padding-top: 5px; }
        .posts-container-ws .posts-container .postcard .caption p {
          font-family: "PT Serif", serif;
          background: -webkit-linear-gradient(#444, #fff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          overflow: hidden;
          margin-bottom: 0; }
        .posts-container-ws .posts-container .postcard .caption .pub-date-author {
          display: flex;
          justify-content: space-between;
          margin: 5px;
          font-weight: 600;
          font-size: 0.75rem; }
          .posts-container-ws .posts-container .postcard .caption .pub-date-author .author {
            color: #1a54e7; }
    .posts-container-ws .posts-container .postcard:hover {
      transform: scale(1.04); }

@media screen and (min-width: 800px) {
  .navbar {
    display: none; }

  footer .footertext {
    margin-left: 6.5em !important; }
  footer img {
    margin-top: 2px; } }
@media screen and (max-width: 800px) {
  .logo-text {
    float: right; }

  header {
    flex-flow: column; }

  .logo {
    width: 100%;
    justify-content: space-around;
    display: none; }

  header .menu {
    display: none;
    top: -100px;
    transition: all 0.6s ease-in-out; }

  figure.figure img {
    height: 200px; }

  footer p {
    font-size: 70%; }
  footer .footer-logo img {
    width: 80px; }

  .maincont h1 {
    font-size: 200%; }
  .maincont .author {
    max-width: 60%; }
    .maincont .author span {
      font-size: 60%; }
  .maincont .content {
    margin: 20px 10px;
    padding: 0 25px; }
    .maincont .content img {
      max-width: 80%; }
    .maincont .content p {
      font-size: 90%; } }
@media screen and (max-width: 450px) {
  .logo-text {
    font-size: 20px; }

  .navbar-brand img {
    max-width: 60px;
    margin-right: -10px; }

  .phys-tech {
    font-size: 8px; }

  .dopcont p.caption {
    font-size: 15px;
    line-height: 1.3em; }
  .dopcont h2 {
    font-size: 25px; }
  .dopcont img {
    width: 150px; }

  figure.figure img {
    height: 130px; }

  .dopcontr {
    border-left: 2px solid #1a54e7;
    margin-left: 15px; }

  .dopcontl {
    border-right: 2px solid #1a54e7;
    margin-right: 15px; }

  .bord {
    max-width: 50px; }

  .user {
    font-size: 0.4rem; }

  .datetime {
    font-size: 0.4rem; }

  footer p {
    font-size: 45%; }
  footer .footer-logo img {
    width: 40px; }

  .maincont .col-lg-5 {
    border-bottom: none; }
  .maincont h1 {
    font-size: 200%; }
  .maincont .author {
    max-width: 60%; }
    .maincont .author span {
      font-size: 50%; }
  .maincont .content {
    margin: 20px 10px;
    padding: 0 25px; }
    .maincont .content img {
      max-width: 80%; }
    .maincont .content p {
      font-size: 90%; }

  .thirdcol {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
