@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@01&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,4000,7001,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap')
$blue: rgb(26, 84, 231)
$black: rgb(51, 51, 51)
$navy: #55c1ff
$white: #fefdff

body
 color: rgb(254, 253, 255)
 font-family: "Noto Sans", sans-serif
 background-color: $white
 
 p 
    font-family: Lora, serif
    line-height: 1rem
    font-size: 1.1rem

span 
    line-height: 1rem
    color: rgb(51, 51, 51)

header 
    display: flex
    background-color: $white
    width: 100%
    z-index: 3
    span 
        color: $white


.logo 
    width: 40%
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 10px
    background-color: #1a54e7


.logo img 
    max-width: 100px
    max-height: 50px


.navbar-brand img
    max-width: 100px
    max-height: 50px


.logo-text 
    font-family: 'Raleway', sans-serif
    font-weight: bold
    font-size: 26px
    color: #fefdff
    margin: 0 15px
    white-space: nowrap
    line-height: 0.8em


header .menu 
    margin-top: 30px
    display: flex
    flex-direction: row
    justify-content: center


.menu .menu-item a 
    height: 100%
    display: inline-block
    text-align: center
    padding: 20 15
    font-family: 'Noto Sans', sans-serif
    font-size: 20px
    font-weight: 400
    text-decoration: none
    color: #1a54e7

    transition: border 0.5s ease

    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box


.menu .menu-item:first-child 
    margin-left: 80px


.menu .menu-item a:hover 
    border-bottom: 5px solid #1a54e7


.menu-btn 
    display: none


.menu-icon 
    display: none
    content: ' '
    height: 30px
    width: 30px
    border: 2px solid white
    border-radius: 30%

    cursor: pointer
    user-select: none

    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box


nav.navbar
    background-color: #1a54e7 !important


#navitem
    color: #fefdff
    font-family: 'Noto Sans', sans-serif


.phys-tech
    font-size: 12px


.dopcont 
    padding: 10px
    img
        width: 200px
    h2
      padding: 0 15px
      color: $blue
    .caption
        padding-left: 10px
        padding-right: 10px
    p.caption 
      font-family: Lora, serif
      font-size: 22px
      line-height: 1.7rem
      text-align: justify
      color: #333333

.dopcontr
    border-radius: 2px
    border-left: 1.5px solid  #1a54e7
    

.dopcontl
    border-radius: 2px
    border-right: 1.5px solid  #1a54e7
    
    h2
        text-align: right
        white-space: nowrap
    

.bord
    margin: 0 auto
    margin-top: 2em
    margin-bottom: 1em
    border-bottom: 2px solid $blue
    max-width: 150px

figure.figure 
    background-color: rgb(254, 253, 255)
    box-shadow: rgba(150, 150, 150, 0.8) 0px 0px 5px
    margin: 0.5rem
    figcaption
        font-family: Lora, serif
        line-height: 1rem
        color: rgb(51, 51, 51)

.datetime 
    font-size: 0.6rem
    padding-right: 10px

footer 
    background-color: rgb(26, 84, 231)
    line-height: 0.7em
    color: rgb(254, 253, 255)



@media screen and (min-width: 800px) 
    .navbar
        display: none


@media screen and (max-width: 800px) 
    .logo-text
        float: right
    

    header 
        flex-flow: column
    

    .logo 
        width: 100%
        justify-content: space-around
        display: none
    

    header .menu 
        display: none
        top: -100px
        transition: all .6s ease-in-out



@media screen and (max-width: 450px)  

    .logo-text
       font-size: 20px
   

    .navbar-brand img 
        max-width: 60px
        margin-right: -10px
   

    .phys-tech
        font-size: 8px

    .dopcont 
        p.caption 
            font-size: 15px
            line-height: 1.3em
        h2
            font-size: 25px
        img
            width: 150px
   

    .dopcontr
        border-left: 2px solid  #1a54e7
        margin-left: 15px
    


    .dopcontl
        border-right: 2px solid  #1a54e7
        margin-right: 15px

    .bord
        max-width: 50px