@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap')
$blue: rgb(26, 84, 231)
$black: rgb(51, 51, 51)
$navy: #55c1ff
$white: #fefdff

*
    box-sizing: border-box

// Общие стили

body
    color: #fefefe
    font-family: "Noto Sans", sans-serif
    background-color: $white
 
    p 
        font-family: "PT Serif", serif
        line-height: 1rem
        font-size: 1.1rem

span 
    line-height: 1rem
    color: rgb(51, 51, 51)

// .content-wrapper
//     min-height: 90vh

// header + logo

header 
    display: flex
    background-color: $white
    width: 100%
    z-index: 3
    span 
        color: $white
    box-shadow: 0 0 10px rgba(200, 200, 200, 1)
    #header-link
        text-decoration: none
        color: $white


.logo 
    width: 40%
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 10px
    background-color: #1a54e7


.logo img 
    max-width: 100px
    max-height: 55px



.navbar-brand img
    max-width: 100px
    max-height: 50px


.logo-text 
    font-family: 'Raleway', sans-serif
    font-weight: bold
    font-size: 26px
    color: #fefdff
    margin: 0 15px
    white-space: nowrap
    line-height: 0.8em


header .menu 
    margin-top: 30px
    display: flex
    flex-direction: row
    justify-content: center


.menu .menu-item a 
    height: 100%
    display: inline-block
    text-align: center
    padding: 20 15
    font-family: 'Noto Sans', sans-serif
    font-size: 20px
    font-weight: 400
    text-decoration: none
    color: #1a54e7

    transition: border 0.5s ease

    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box


.menu .menu-item:first-child 
    margin-left: 80px


.menu .menu-item a:hover 
    border-bottom: 5px solid #1a54e7


.menu-btn 
    display: none


.menu-icon 
    display: none
    content: ' '
    height: 30px
    width: 30px
    border: 2px solid white
    border-radius: 30%

    cursor: pointer
    user-select: none

    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box

// second logo

nav.navbar
    background-color: #1a54e7 !important


#navitem
    color: #fefdff
    font-family: 'Noto Sans', sans-serif


.phys-tech
    font-size: 12px

// dop content

.dopcont 
    padding: 10px
    img
        width: 200px
    h2
        padding: 0 15px
        color: $blue
    .caption
        padding-left: 10px
        padding-right: 10px
    p.caption 
        font-family: "PT Serif", serif
        font-size: 22px
        line-height: 1.7rem
        text-align: justify
        color: #333333

.dopcontr
    border-radius: 2px
    border-left: 1.5px solid  #1a54e7
    

.dopcontl
    border-radius: 2px
    border-right: 1.5px solid  #1a54e7
    
    h2
        text-align: right
        white-space: nowrap


button.click-me
    display: block
    margin: 10px auto !important
    color: $white
    background-color: $blue
    border-color: $blue
    letter-spacing: 1px
    font-family: 'Raleway'
    font-size: 23px
    font-weight: bold
    
// blue line
.bord
    margin: 0 auto
    border-radius: 28%
    margin-top: 3em
    margin-bottom: 1em
    border-bottom: 4px solid $blue
    max-width: 150px

// main blocks 3x3
#figlnk:hover
    text-decoration: none

.figure 
    background-color: #fefdff
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.7)
    margin: 13px 10px
    transition: margin 0.4s ease
    width: 100%
    position: relative
    overflow: hidden
    .flex
        display: flex
        justify-content: center
    figcaption
        padding: 5px
        font-family: "PT Serif", serif
        line-height: 1rem
        color: rgb(51, 51, 51)
    img
        display: block
        margin: 0 auto
        position: relative
        height: 250px

figure.figure:hover
    margin: 6px 8px

figure.figure:active
    margin: 6px 8px

.datetime 
    padding-left: 5px
    font-size: 0.8em


a.user 
    font-size: 0.6rem

// FOOTER //
footer 
    background-color: rgb(26, 84, 231)
    color: rgba(254, 253, 255, 0.8)
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 20px 0
    .footer-logo
        order: 2
        flex-basis: 20%
        text-align: center
        img
            width: 90   px
    .footertext1 
        order: 3
        text-align: left
        align-self: center
        width: 30%
        font-size: 1.3em
    .footertext2
        order: 1
        text-align: center
        align-self: center
        width: 30%
    p 
        font-style:  "Noto Sans", sans-serif
        white-space: nowrap
        margin-bottom: 2px
        font-size: 100%
        line-height: 1.5em

// CAROUSEL //
.carousel-inner
    max-height: 35vw
    background-color: black

    .carousel-caption
        top: 15vw
        @media screen and (max-width: 700px)
            top: 8vw
        @media screen and (max-width: 500px)
            top: 0


    img
        opacity: 0.5

    .carousel-indicators
        margin-bottom: 0

    .carousel-static-caption
        width: 100%
        display: flex
        flex-flow: column
        align-items: center
        position: absolute
        top: 15vw
        z-index: 0

// PAge styles

span.important
    border-bottom: 2px dashed red
    font-size: 1.1em
.maincont
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5)   
    margin-bottom: 20px
    .col-lg-5
        border-bottom: 1px solid rgb(245, 226, 214)
    .content
        position: relative
        width: 100%
        margin: 30px
        padding: 0 25px
        border-left: 2px solid $blue
        border-right: 2px solid $blue
        img
            display: block
            margin: 15px auto
        // iframe
        //     margin: 15px auto


    .author
        background-color: rgba(255, 255, 255, 0.521)
        // border: 3px solid rgba(206, 180, 165, 0.781)
        border: 2px solid $navy
        padding: 10px
        border-bottom-right-radius: 20px
        border-bottom-left-radius: 5px
        border-top-left-radius: 5px
        border-top-right-radius: 20px
        max-width: 40%
        margin-top: 1em
        margin-left: -1em
        padding-right: 3em
        background-image: url('../images/blank-profile.png')
        background-repeat: no-repeat
        background-size: 25% 
        background-position: 10% 50%
        span
            text-align: right
            font-size: 80%
            margin-top: 5px
            margin-right: -30px
            padding-left: 4em
        .author-caption
            text-align: right
            font-size: 60%
            display: none
    p
        color: $black
        line-height: 1.5em
        margin-top: -8px
        overflow: wrap
        overflow-wrap: anywhere
    .post-title
        height: 30vh
        width: 100%
        background-size: cover
        background-color: black
        .darken-image
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.4)
            display: flex
            justify-content: center
            align-items: center
            h1
                display: flex
                color: $white
                font-size: 2em
                text-shadow: 0 0 15px #000
    .maincont-footer
        color: rgba(189, 137, 126, 0.5)
        padding-top: 25px
        padding-bottom: 25px
    .date
        float: right
    .topandbottom
        z-index: -1
    


//Static page styles

.static-main
    margin-bottom: 0
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5)  
    p
        color: $black
        font-size: 100%
        margin-bottom: 0
        padding-top: 20px
        padding: 25px
    h2
        color: $blue
        border-bottom: 1.5px solid $blue
        padding: 5px
    .bord
        margin-top: 15px
    .bord-2
        margin-bottom: 20px
    .docpage-header
        color: $blue
        text-align: center
        margin: 20px 10px

.downloadfiles
    display: flex
    flex-flow: row wrap
    // flex-direction: row
    // flex-grow: 2
    margin-bottom: 15px

    a
        text-decoration: none
        transition: transform 0.5s ease
    a:hover
        color: $blue
        text-decoration: none
        transform: scale(1.05)

.downloadfile
    font-size: 1.2rem
    color: $blue

    display: flex
    flex-direction: column
    justify-content: space-around
    padding: 15px 20px
    margin: 8px

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    border-radius: 20px 20px

    background-color: rgba(85, 193, 255, 0.035)

    p.updated
        // text-decoration: none
        color: rgba(51, 51, 51, 1)
        font-size: 0.65rem
        border: none
        margin: 0
        padding: 0



// Post card on home screen
$postcard-width: 350px
$postcard-width-650: 230px
$postcard-width-950: 250px
$postcard-width-500: 300px
$postcard-height: 300px
$image-container-height: 150px
.posts-container-ws
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 20px

    .posts-container
        max-width: 1200px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center

        .postcard
            display: flex
            flex-direction: column
            max-width: $postcard-width
            height: $postcard-height
            margin: 10px 10px
            box-shadow: 0 0 10px rgba(200, 200, 200, 0.7)
            transition: transform 0.5s ease
            @media screen and (max-width: 950px)
                max-width: $postcard-width-950
            @media screen and (max-width: 650px)
                max-width: $postcard-width-650
            @media screen and (max-width: 500px)
                max-width: $postcard-width-500

            .image-container
                width: 100%
                height: $image-container-height
                overflow: hidden
                text-align: center
                img
                    width: 100%
                    object-fit: cover
            .caption
                display: flex
                flex-direction: column
                justify-content: space-between
                height: $postcard-height - $image-container-height
                color: black
                overflow-wrap: break-word
                margin: 0 8px 8px 8px

                h4
                    font-family: 'Noto Sans', sans-serif
                    font-size: 1.1rem
                    font-weight: 600
                    text-align: center
                    padding-top: 5px

                p
                    font-family: 'PT Serif', serif
                    background: -webkit-linear-gradient(#444, #fff)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                    overflow: hidden
                    margin-bottom: 0
                .pub-date-author
                    display: flex
                    justify-content: space-between
                    margin: 5px
                    font-weight: 600
                    font-size: 0.75rem
                    .author
                        color: $blue
        .postcard:hover
            transform: scale(1.04)




@media screen and (min-width: 800px) 
    .navbar
        display: none
    footer
        .footertext
            margin-left: 6.5em !important
        img 
            margin-top: 2px    


@media screen and (max-width: 800px) 
    .logo-text
        float: right
    

    header 
        flex-flow: column
    

    .logo 
        width: 100%
        justify-content: space-around
        display: none
    

    header .menu 
        display: none
        top: -100px
        transition: all .6s ease-in-out
    figure.figure
        img
            height: 200px

    footer
        p 
            font-size: 70%
        .footer-logo
            img
                width: 70px
    
    .postcard

    .maincont
        h1
            font-size: 200%
        .author
            max-width: 60%
            span
                font-size: 60%

        .content
            margin: 20px 10px
            padding: 0 25px
            img
                max-width: 80%
            p
                font-size: 90%

@media screen and (max-width: 650px)
     footer
        p 
            font-size: 60%
        .footertext2
            p
                font-size: 47%
        .footer-logo
            img
                width: 50px
@media screen and (max-width: 500px)  

    .logo-text
        font-size: 20px
   
    .navbar-brand
        margin-right: 0
    .navbar-brand img 
        max-width: 70px
        margin-right: -10px
   

    .phys-tech
        font-size: 8px

    .dopcont 
        p.caption 
            font-size: 15px
            line-height: 1.3em
        h2
            font-size: 25px
        img
            width: 150px
   
    figure.figure
        img
            height: 130px


    .dopcontr
        border-left: 2px solid  #1a54e7
        margin-left: 15px
    


    .dopcontl
        border-right: 2px solid  #1a54e7
        margin-right: 15px

    .bord
        max-width: 50px

    .user 
        font-size: 0.4rem
    .datetime
        font-size: 0.4rem
    footer
        flex-direction: column
        .footertext1
            text-align: center
            margin-top: 15px
            width: 300px
        .footertext2
            p
                font-size: 60%
            margin-bottom: 15px
            width: 300px
        p 
            font-size: 60%
        .footer-logo
            img 
                width: 60px
    .maincont
        .col-lg-5
            border-bottom: none
        h1
            font-size: 200%
        
        .author
            max-width: 60%
            span
                font-size: 50%

        .content
            margin: 20px 10px
            padding: 0 25px
            img
                max-width: 80%
            p
                font-size: 90%
    .thirdcol
        display: none