@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400   700&family=PT+Serif:ital,wght@0,400   0,700   1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200   500   600   700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300   400   600   700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap')

$blue: rgb(26, 84, 231)
$dark-blue: rgb(26, 84, 185)
$black: rgb(51, 51, 51)
$navy: #55c1ff
$white: #fefdff
$green: #48BA4A
$dark-green: #494

*
    box-sizing: border-box

// Общие стили

body
    color: #fefefe
    font-family: "Noto Sans", sans-serif
    background-color: $white

    p
        font-family: "PT Serif", serif
        line-height: 1rem
        font-size: 1.1rem

span
    line-height: 1rem
    color: rgb(51, 51, 51)

// .content-wrapper
//     min-height: 90vh

// header + logo

header
    display: flex
    background-color: $white
    width: 100%
    z-index: 3
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.7)
    span
        color: $white
    #header-link
        text-decoration: none
        color: $white
        display: flex
        flex-direction: row


    .logo
        width: 40%
        display: flex
        justify-content: flex-end
        align-content: center
        padding: 10px
        background-color: #1a54e7
        .collapsing-menu
            display: none
            height: 45px
            margin-right: 15px
            align-self: center
            padding: 4px 10px
            justify-self: flex-end
            border: 1px solid rgba(255, 255, 255, 0.2)
            border-radius: 5px
            img
                align-self: center
                width: 25px
                height: 30px
                filter: invert(100%)
                opacity: 0.75



    .logo img
        max-width: 100px
        max-height: 55px



    .logo-text
        font-family: 'Raleway', sans-serif
        font-weight: 400
        font-size: 26px
        color: #fefdff
        margin: 0 15px
        margin-top: -5px
        white-space: nowrap
        line-height: 1em

    .menu
        margin-top: 13px
        display: flex
        flex-direction: row
        justify-content: center


.menu .menu-item
    // background: linear-gradient(to left, white 50%, #1a54e7 50%) right
    // background-size: 200%
    // transition: .5s ease-out
    color: #1a54e7

    a
        color: $blue
        height: 100%
        display: inline-block
        text-align: center
        padding: 20px 15px
        font-family: 'Raleway', sans-serif
        font-size: 20px
        font-weight: 600
        text-decoration: none

        transition: border 0.5s ease

        box-sizing: border-box
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
    a:visited
        color: $blue
    a:active
        color: $blue



.menu .menu-item:first-child
    margin-left: 60px

.menu .menu-item:hover
    background-position: left
    color: white

.menu .menu-item a:hover
    border-bottom: 5px solid #1a54e7
    // background-position: left


.menu-btn
    display: none


.menu-icon
    display: none
    content: ' '
    height: 30px
    width: 30px
    border: 2px solid white
    border-radius: 30%

    cursor: pointer
    user-select: none

    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box

// second logo

// nav.navbar
//     background-color: #1a54e7 !important


// #navitem
//     color: #fefdff
//     font-family: 'Noto Sans', sans-serif


.phys-tech
    font-size: 12px




//Carusel

.karusel
    box-shadow: inset 0 0 10px rgba(200, 200, 200, 0.6)
    .karusel-content
        height: 87vh
        position: relative
        background-color: black
        z-index: -2
        .karusel-item
            position: absolute
            left: 0px
            top: 0px
            height: 100%
            width: 100%
            background-size: cover
            background-position: center
            display: flex
            align-items: center
            justify-content: center
            opacity: 0
            transition: opacity 2s ease-out
            .karusel-caption
                flex-basis: content
                h5, p
                    text-align: center
                    margin-bottom: 5px
                    text-shadow: 3px 2px 15px #000
                h5
                    font-size: 23px
                p
                    font-size: 17px
        .aktiv
            opacity: 1
        a.prev-control
            display: flex
            position: absolute
            left: 0px
            top: 0px
            height: 100%
            width: 18%
            justify-content: center
            align-items: center
            .prevbutton
                flex-basis: content
                .icon
                    opacity: 0.7
                    width: 25px
                    height: 50px
                    border-image-repeat: no-repeat
                    background-size: cover
                    filter: invert(65%) saturate(0%) hue-rotate(256deg) brightness(130%) contrast(120%)
        a.prev-control:hover
            background: linear-gradient(270deg, rgba(0,0,0,0) 20%, rgba(25,25,25,0.7) 98%)
            cursor: pointer
            img
                transform: scale(1.1)
        a.next-control
            display: flex
            position: absolute
            right: 0px
            top: 0px
            height: 100%
            width: 18%
            justify-content: center
            align-items: center
            transition: all 1s ease
            .nextbutton
                flex-basis: content
                transform: rotatez(180deg)
                .icon
                    opacity: 0.7
                    width: 25px
                    height: 50px
                    border-image-repeat: no-repeat
                    background-size: cover
                    filter: invert(65%) saturate(0%) hue-rotate(256deg) brightness(130%) contrast(120%)
        a.next-control:hover
            background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(25,25,25,0.7) 98%)
            cursor: pointer
            img
                transform: scale(1.1)
        #counts
            display: flex
            position: absolute
            bottom: 0
            width: 100%
            justify-content: center
            span
                display: inline-block
                width: 50px
                border-top: 5px solid $white
                list-style: none
                margin: 15px 5px
                border-radius: 5px
                opacity: 0.5
            span.this
                opacity: 1
        @media screen and (min-width: 1200px)
            height: 87vh
        @media screen and (max-width: 700px)
            height: 50vh
        @media screen and (max-width: 450px)
            height: 55vh
            #counts
                span
                    width: 30px
                    border-width: 3px
            .karusel-item
                .karusel-caption
                    p
                        font-size: 14px
                    h5
                        font-size: 20px
        @media screen and (max-width: 600px)
            a.next-control
                div
                    opacity: 0
            a.prev-control
                div
                    opacity: 0



// dop content

p.caption
    font-family: 'Ubuntu', sans-serif
    font-size: 20px
    line-height: 2rem
    text-align: justify
    color: #333333
span.green
        color: $green
span.blue
    color: $blue
#capital
    font-size: 25px
#techno
    font-size: 32px
    font-weight: bold
    color: blue
    text-align: center
    margin-bottom: 40px
    margin-top: 20px


.dopcont-header
    width: 70%
    margin-bottom: 20px
    margin: 0 auto
    background-image: url("../images/volunarizm2.jpg")
    border-left: 2px solid $blue
    border-right: 2px solid $blue
    padding: 0 15px
    padding-top: 0

@media screen and ( max-width: 700px)
    p.caption
        font-size: 15px
    #capital
        font-size: 20px
    #techno
        font-size: 25px
    .dopcont-header
        width: 85%


.dopcont
    width: 85%
    display: flex
    margin: 20px auto
    flex-wrap: wrap
    justify-content: center
    padding: 10px

    img
        width: 200px
    p.list-caption
        padding: 0 15px
        color: $blue
        font-size: 27px
        line-height: 1.5em
        font-family: "Noto Sans", sans-serif
    p.invitation
        margin-top: 10px
        font-size: 32px
        font-weight: bold
        color: $blue
        text-align: center
    ul
        list-style: none
        li
            margin-top: 0.5rem
            font-family: 'Raleway', sans-serif
            font-size: 16px
            line-height: 1.5rem
            color: #333333
            padding-right: 10px
        li:before
            content: "■  "
            position: relative
            bottom: 1.5px
            color: $blue
    p.link
        // ДЕНИС! ВОТ ЭТУ ХЕРЬ
        // margin-top: 10px
        // margin-bottom: 10px
        // МОЖНО ЗАМЕНИТЬ ЭТИМ!!!
        color: $white
        text-align: center
        font-size: 1.5rem
        font-family: "Noto Sans", sans-serif
        line-height: 1.5
        border-radius: 5px
        height: 50px
        margin: 10px 0
        padding: 5px 10px
        transition: all 0.5s
        @media screen and ( max-width: 750px ) and ( min-width: 600px )
            display: flex
            font-size: 1.1rem
            align-items: center
            


.dopcontr
    border-left: 4px solid  #1a54e7
    width: 50%
    p.techno
        background-color: $blue
        transition: all 0.5s
        a
            color: $white
            border-radius: 5px
            text-decoration: none
            padding: 3px 15px
        @media screen and ( max-width: 500px )
            width: 260px
            font-size: 1.35rem
            height: 46px
            
    p.techno:hover
        background-color: $dark-blue
        





.dopcontl
    border-right: 4px solid  #48BA4A
    width: 50%
    align-content: flex-start
    p.list-caption
        color: #48BA4A
    ul
        li:before
            color: $green
    p.eco
        background-color: $green
        transition: all 0.5s
        a
            color: $white
            border-radius: 10px
            text-decoration: none
            padding: 3px 15px
        @media screen and ( max-width: 500px )
            width: 260px
    p.eco:hover
        background-color: $dark-green
       
        

button.click-me
    display: block
    margin: 10px auto !important
    color: $white
    background-color: $blue
    border-color: $blue
    letter-spacing: 1px
    font-family: 'Raleway'
    font-size: 23px
    font-weight: bold

// blue line
.bord
    margin: 0 auto
    border-radius: 28%
    margin-top: 1.5em
    margin-bottom: 0.5em
    border-bottom: 4px solid $blue
    max-width: 150px

// main blocks 3x3
// SOCIAL LINKS //
.social-links-container
    display: flex
    justify-content: center
    align-items: center
    padding: 5px 0
    background: rgb(26,84,231)
    a
        display: flex
        padding: 12px 15px
        margin-right: 10px
        color: $white
        font-size: 2rem
        transition: .4s ease
        background: rgb(58,160,219)
        background: radial-gradient(circle, #57b8f094 0%, rgba(26,84,231,1) 60%)

        img
            width: 25px
            height: 25px
            transition: .4s ease
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(104%) contrast(101%)
            opacity: 0.85
        img:hover
            transform: scale(1.2)

// FOOTER //
footer
    background-color: rgb(26, 84, 231)
    color: rgba(254, 253, 255, 0.8)
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 20px 0
    margin-top: -10px
    .footer-logo
        display: flex
        order: 2
        flex-basis: 20%
        justify-content: center
        align-items: center
        img
            display: flex
            width: 80px
    .footertext1
        order: 3
        text-align: left
        align-self: center
        width: 30%
        font-size: 1.2em
    .footertext2
        order: 1
        text-align: right
        align-self: center
        width: 30%
        font-size: 1.1em
    p
        font-family: 'Raleway', sans-serif
        font-weight: 500
        white-space: nowrap
        margin-bottom: 2px
        font-size: 100%
        line-height: 1.5em
        a
            color: rgba(254, 253, 255, 0.8)
            transition: all 0.5s ease
            text-decoration: none
        a:hover
            color: rgba(254, 253, 255, 0.68)
            font-size: 1.05em
            text-decoration: none


// CAROUSEL //
// PAge styles

.post-container
    display: flex
    flex-flow: column nowrap
    align-items: center
    width: 100%

    .post-title
        height: 55vh
        width: 100%
        background-size: cover
        background-color: black
        background-position: center
        .darken-image
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.4)
            background-attachment: fixed
            display: flex
            justify-content: center
            align-items: flex-end
            h1
                display: flex
                text-align: center
                font-family: 'Open Sans', sans-serif
                font-weight: 600
                color: $white
                font-size: 1.75em
                text-shadow: 0 0 15px #000
                padding: 10px 10px
                margin-bottom: 8vh

    .content
        width: 60vw
        @media screen and (max-width: 1600px)
            width: 70vw
        @media screen and (max-width: 1400px)
            width: 75vw
        @media screen and (max-width: 1200px)
            width: 80vw
        @media screen and (max-width: 1000px)
            width: 90vw
        font-family: 'Ubuntu', sans-serif
        overflow: wrap
        overflow-wrap: anywhere
        color: black
        // box-shadow: 0 0 10px rgba(200, 200, 200, 0.5)
        border-left: 4px solid $blue
        border-right: 4px solid $blue
        padding: 5px 20px
        margin: 10px 0
        @media screen and (max-width: 700px)
            border: none
            padding: 5px 0px
        h1, h2, h3, h4, h5, h6, p
            font-family: 'Ubuntu', sans-serif
            line-height: 1.5em
            font-weight: 300
        img
            display: block
            margin: 15px auto
            max-width: 80vw

    .author-date
        color: rgba(0, 0, 0, 0.65)
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        margin-top: 20px
        p
            font-family: 'Raleway', sans-serif
            font-weight: 400



//Static page styles

.shadow
    height: 5px
    box-shadow: 

.static-main
    margin-bottom: 0
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5)
    font-family: 'Ubuntu', sans-serif
    line-height: 1.5em
    font-weight: 400
    overflow: wrap
    overflow-wrap: anywhere
    width: 90%
    margin: 0 auto
    p
        font-family: 'Ubuntu', sans-serif
        color: $black
        // font-size: 100%
        line-height: 1.3em
        margin-bottom: 0
        padding-top: 20px
        padding: 25px
    h2
        color: $blue
        border-bottom: 1.5px solid $blue
        padding: 5px
    .bord
        margin-top: 15px
    .bord-2
        margin-bottom: 20px
    .docpage-header
        color: $blue
        text-align: center
        padding: 20px 10px
        margin: 0

.downloadfiles
    display: flex
    flex-flow: row wrap
    // flex-direction: row
    // flex-grow: 2
    margin-bottom: 15px

    a
        text-decoration: none
        transition: transform 0.5s ease
    a:hover
        color: $blue
        text-decoration: none
        transform: scale(1.05)

.downloadfile
    font-size: 1.2rem
    color: $blue

    display: flex
    flex-direction: column
    justify-content: space-around
    padding: 15px 20px
    margin: 8px

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    border-radius: 20px 20px

    background-color: rgba(85, 193, 255, 0.035)

    p.updated
        // text-decoration: none
        color: rgba(51, 51, 51, 1)
        font-size: 0.65rem
        border: none
        margin: 0
        padding: 0



// Post card on home screen


$postcard-width: 350px
$postcard-width-650: 230px
$postcard-width-950: 250px
$postcard-width-500: 60vh
$postcard-height: 300px
$image-container-height: 180px
.posts-container-ws
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 20px

    .posts-container
        max-width: 1200px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center

        .postcard
            display: flex
            flex-direction: column
            max-width: $postcard-width
            height: $postcard-height
            margin: 10px 10px
            box-shadow: 0 0 10px rgba(200, 200, 200, 0.7)
            transition: transform 0.5s ease
            #figlnk
                text-decoration: none
            @media screen and (max-width: 950px)
                max-width: $postcard-width-950
            @media screen and (max-width: 650px)
                max-width: $postcard-width-650
            @media screen and (max-width: 500px)
                max-width: $postcard-width-500
            @media screen and (max-width: 350px)
                max-width: 45vh

            .image-container
                width: 100%
                height: $image-container-height
                overflow: hidden
                text-align: center
                img
                    width: 100%
                    object-fit: cover
            .caption
                display: flex
                flex-direction: column
                justify-content: space-between
                height: $postcard-height - $image-container-height
                color: black
                overflow-wrap: break-word
                margin: 0 8px 8px 8px

                h4
                    font-family: 'Noto Sans', sans-serif
                    font-size: 1.1rem
                    font-weight: 600
                    text-align: center
                    padding-top: 5px
                    margin: 0

                p
                    font-family: 'PT Serif', serif
                    background: -webkit-linear-gradient(#444, #fff)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                    overflow: hidden
                    margin-bottom: 0
                .pub-date-author
                    display: flex
                    justify-content: space-between
                    margin: 5px
                    font-family: "Noto Sans", sans-serif
                    font-weight: 300
                    font-size: 0.66rem
                    .author
                        color: $blue
                        font-weight: bold
        .postcard:hover
            transform: scale(1.04)
        #figlnk:hover
            text-decoration: none




@media screen and (min-width: 800px)

    footer
        .footertext
            margin-left: 6.5em !important
        img
            margin-top: 2px


@media screen and (max-width: 800px)

    header
        flex-flow: column
        background-color: $blue
        .logo
            width: 100%
            justify-content: space-between !important
            .collapsing-menu
                display: flex !important
    .menu
        background-color: $blue
        margin-top: 0 !important
        display: flex
        justify-content: flex-start !important
        flex-direction: column !important
        flex-wrap: nowrap
        max-height: 0px
        overflow: hidden
        width: 100%
        transition: 2s ease max-height, 0.3s ease padding-bottom
        .menu-item
            margin-left: 10px !important
            display: flex
            padding-left: 10px
            border-left: 5px solid $white
            a
                color: $white !important
            a:visited
                color: $white !important
            a:active
                color: $white !important
    .act
        max-height: 200px
        padding-bottom: 10px






    figure.figure
        img
            height: 200px

    footer
        p
            font-size: 70%
        .footer-logo
            img
                width: 70px

    .postcard

    .maincont
        h1
            font-size: 200%
        .author
            max-width: 60%
            span
                font-size: 60%

        .content
            margin: 20px 10px
            padding: 0 25px
            img
                max-width: 80%
            p
                font-size: 90%

@media screen and (max-width: 600px)
    .dopcont
        width: 100%
        padding: 0
        p.caption
            font-size: 15px
            line-height: 1.3em
        .dopcontr
            border-left: 2px solid  #1a54e7
            margin-left: 15px
            width: 100%
        .dopcontl
            border-right: 2px solid  $green
            margin-right: 15px
            width: 100%


    footer
        p
            font-size: 60%
        .footertext2
            p
                font-size: 47%
        .footer-logo
            img
                width: 50px
@media screen and (max-width: 500px)

    .phys-tech
        font-size: 10px
    .int-tech
        font-size: 22px
    .logo-text
        margin-left: 5px !important
    .dopcont-header
        width: 100%
        border: none

    #header-link
        img
            max-width: 80px
            max-height: 40px
            align-self: center
    .menu
        top: 67px !important
    .dopcont
        .dopcontr
            margin-left: 0
            border-width: 4px
        .dopcontl
            margin-right: 0
            border-width: 4px
    .bord
        max-width: 70px

    .user
        font-size: 0.4rem
    .datetime
        font-size: 0.4rem
    footer
        flex-direction: column
        .footertext1
            order: 1
            text-align: center
            margin-bottom: 15px
            width: 300px
        .footertext2
            order: 3
            text-align: center
            p
                font-size: 60%
            margin-top: 15px
            width: 300px
        p
            font-size: 60%
        .footer-logo
            img
                width: 60px
    .maincont
        .col-lg-5
            border-bottom: none
        h1
            font-size: 200%

        .author
            max-width: 60%
            span
                font-size: 50%

        .content
            margin: 20px 10px
            padding: 0 25px
            img
                max-width: 80%
            p
                font-size: 90%
    .thirdcol
        display: none



@media screen and (max-width: 350px)

    header
        .logo
            .logo-text
                font-size: 20px
                align-items: center
            .collapsing-menu
                margin-right: 7px !important
                height: 100%
        .menu
            .menu-item
                a
                    font-size: 18px
                    padding: 15px 10px !important
        .phys-tech
            font-size: 9px
            line-height: 0.4rem
        .int-tech
            font-size: 15px
            line-height: 0.4rem


    .logo-text
        font-size: 15px
        margin-top: 0px
