@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400   700&family=PT+Serif:ital,wght@0,400   0,700   1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200   500   600   700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300   400   600   700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fefefe;
  font-family: "Noto Sans", sans-serif;
  background-color: #fefdff;
}

body p {
  font-family: "PT Serif", serif;
  line-height: 1rem;
  font-size: 1.1rem;
}

span {
  line-height: 1rem;
  color: #333333;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fefdff;
  width: 100%;
  z-index: 3;
  min-height: 13vh;
  -webkit-box-shadow: 0 0 10px #c8c8c8;
          box-shadow: 0 0 10px #c8c8c8;
}

header span {
  color: #fefdff;
}

header #header-link {
  text-decoration: none;
  color: #fefdff;
}

.logo {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #1a54e7;
}

.logo img {
  max-width: 100px;
  max-height: 55px;
}

.navbar-brand img {
  max-width: 100px;
  max-height: 50px;
}

.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #fefdff;
  margin: 0 15px;
  margin-top: -5px;
  white-space: nowrap;
  line-height: 1em;
}

header .menu {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu-item {
  color: #1a54e7;
}

.menu .menu-item a {
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 20 15;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menu .menu-item:first-child {
  margin-left: 60px;
}

.menu .menu-item:hover {
  background-position: left;
  color: white;
}

.menu .menu-item a:hover {
  border-bottom: 5px solid #1a54e7;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
  content: ' ';
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 30%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav.navbar {
  background-color: #1a54e7 !important;
  min-height: 13vh;
}

#navitem {
  color: #fefdff;
  font-family: 'Noto Sans', sans-serif;
}

.phys-tech {
  font-size: 12px;
}

.carousel-inner {
  max-height: 35vw;
  background-color: black;
  overflow: hidden;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner .img-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-inner .img-block img {
  opacity: 0.5;
  margin: auto auto !important;
}

.carousel-inner .img-block .carousel-caption {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  bottom: auto !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .carousel-inner {
    max-height: 87vh;
  }
}

@media screen and (max-width: 700px) {
  .carousel-inner {
    min-height: 50vh;
  }
  .carousel-inner img {
    width: auto !important;
    min-height: 50vh;
    max-width: 700px !important;
  }
}

@media screen and (max-width: 450px) {
  .carousel-inner {
    min-height: 55vh;
  }
  .carousel-inner img {
    width: auto !important;
    min-height: 55vh !important;
    max-width: 800px !important;
  }
}

.carousel-inner .carousel-indicators {
  margin-bottom: 0;
}

.carousel-inner .carousel-static-caption {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15vw;
  z-index: 0;
}

.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition: opacity 0.7s ease !important;
  transition: opacity 0.7s ease !important;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 0.5;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .carousel-fade .carousel-control-next span.carousel-control-next-icon {
    opacity: 0;
  }
  .carousel-fade .carousel-control-prev span.carousel-control-prev-icon {
    opacity: 0;
  }
}

p.caption {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  line-height: 2rem;
  text-align: justify;
  color: #333333;
}

span.green {
  color: #48BA4A;
}

span.blue {
  color: #1a54e7;
}

#capital {
  font-size: 25px;
}

#techno {
  font-size: 32px;
  font-weight: bold;
  color: blue;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.dopcont-header {
  width: 70%;
  margin-bottom: 20px;
  margin: 0 auto;
  background-image: url("../images/volunarizm2.jpg");
  border-left: 2px solid #1a54e7;
  border-right: 2px solid #1a54e7;
  padding: 0 15px;
  padding-top: 0;
}

@media screen and (max-width: 700px) {
  p.caption {
    font-size: 15px;
  }
  #capital {
    font-size: 20px;
  }
  #techno {
    font-size: 25px;
  }
  .dopcont-header {
    width: 85%;
  }
}

.dopcont {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.dopcont img {
  width: 200px;
}

.dopcont p.list-caption {
  padding: 0 15px;
  color: #1a54e7;
  font-size: 27px;
  line-height: 1.5em;
  font-family: "Noto Sans", sans-serif;
}

.dopcont p.invitation {
  margin-top: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #1a54e7;
  text-align: center;
}

.dopcont ul {
  list-style: none;
}

.dopcont ul li {
  margin-top: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  color: #333333;
  padding-right: 10px;
}

.dopcont ul li:before {
  content: "■  ";
  position: relative;
  bottom: 1.5px;
  color: #1a54e7;
}

.dopcontr {
  border-left: 4px solid  #1a54e7;
  width: 50%;
}

.dopcontl {
  border-right: 4px solid  #48BA4A;
  width: 50%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.dopcontl p.list-caption {
  color: #48BA4A;
}

.dopcontl ul li:before {
  color: #48BA4A;
}

button.click-me {
  display: block;
  margin: 10px auto !important;
  color: #fefdff;
  background-color: #1a54e7;
  border-color: #1a54e7;
  letter-spacing: 1px;
  font-family: 'Raleway';
  font-size: 23px;
  font-weight: bold;
}

.bord {
  margin: 0 auto;
  border-radius: 28%;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: 4px solid #1a54e7;
  max-width: 150px;
}

.social-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  background: #1a54e7;
}

.social-links-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 15px;
  margin-right: 10px;
  color: #fefdff;
  font-size: 2rem;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background: #3aa0db;
  background: radial-gradient(circle, #57b8f094 0%, #1a54e7 60%);
}

.social-links-container a img {
  width: 25px;
  height: 25px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(104%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(104%) contrast(101%);
  opacity: 0.85;
}

.social-links-container a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  background-color: #1a54e7;
  color: rgba(254, 253, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  margin-top: -10px;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

footer .footertext1 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30%;
  font-size: 1.2em;
}

footer .footertext2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30%;
  font-size: 1.1em;
}

footer p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 2px;
  font-size: 100%;
  line-height: 1.5em;
}

footer p a {
  color: rgba(254, 253, 255, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer p a:hover {
  color: rgba(254, 253, 255, 0.68);
  font-size: 1.05em;
  text-decoration: none;
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.post-container .post-title {
  height: 55vh;
  width: 100%;
  background-size: cover;
  background-color: black;
  background-position: center;
}

.post-container .post-title .darken-image {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.post-container .post-title .darken-image h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fefdff;
  font-size: 1.75em;
  text-shadow: 0 0 15px #000;
  padding: 10px 10px;
  margin-bottom: 8vh;
}

.post-container .content {
  width: 60vw;
  font-family: 'Ubuntu', sans-serif;
  overflow: wrap;
  overflow-wrap: anywhere;
  color: black;
  border-left: 4px solid #1a54e7;
  border-right: 4px solid #1a54e7;
  padding: 5px 20px;
  margin: 10px 0;
}

@media screen and (max-width: 1600px) {
  .post-container .content {
    width: 70vw;
  }
}

@media screen and (max-width: 1400px) {
  .post-container .content {
    width: 75vw;
  }
}

@media screen and (max-width: 1200px) {
  .post-container .content {
    width: 80vw;
  }
}

@media screen and (max-width: 1000px) {
  .post-container .content {
    width: 90vw;
  }
}

@media screen and (max-width: 700px) {
  .post-container .content {
    border: none;
    padding: 5px 0px;
  }
}

.post-container .content h1, .post-container .content h2, .post-container .content h3, .post-container .content h4, .post-container .content h5, .post-container .content h6, .post-container .content p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

.post-container .content img {
  display: block;
  margin: 15px auto;
  max-width: 80vw;
}

.post-container .author-date {
  color: rgba(0, 0, 0, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.post-container .author-date p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.static-main {
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
          box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  overflow: wrap;
  overflow-wrap: anywhere;
}

.static-main p {
  font-family: 'Ubuntu', sans-serif;
  color: #333333;
  line-height: 1.3em;
  margin-bottom: 0;
  padding-top: 20px;
  padding: 25px;
}

.static-main h2 {
  color: #1a54e7;
  border-bottom: 1.5px solid #1a54e7;
  padding: 5px;
}

.static-main .bord {
  margin-top: 15px;
}

.static-main .bord-2 {
  margin-bottom: 20px;
}

.static-main .docpage-header {
  color: #1a54e7;
  text-align: center;
  margin: 20px 10px;
}

.downloadfiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 15px;
}

.downloadfiles a {
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.downloadfiles a:hover {
  color: #1a54e7;
  text-decoration: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.downloadfile {
  font-size: 1.2rem;
  color: #1a54e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 20px;
  margin: 8px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px;
  background-color: rgba(85, 193, 255, 0.035);
}

.downloadfile p.updated {
  color: #333333;
  font-size: 0.65rem;
  border: none;
  margin: 0;
  padding: 0;
}

.posts-container-ws {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.posts-container-ws .posts-container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts-container-ws .posts-container .postcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  height: 300px;
  margin: 10px 10px;
  -webkit-box-shadow: 0 0 10px rgba(200, 200, 200, 0.7);
          box-shadow: 0 0 10px rgba(200, 200, 200, 0.7);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media screen and (max-width: 950px) {
  .posts-container-ws .posts-container .postcard {
    max-width: 250px;
  }
}

@media screen and (max-width: 650px) {
  .posts-container-ws .posts-container .postcard {
    max-width: 230px;
  }
}

@media screen and (max-width: 500px) {
  .posts-container-ws .posts-container .postcard {
    max-width: 60vh;
  }
}

@media screen and (max-width: 350px) {
  .posts-container-ws .posts-container .postcard {
    max-width: 45vh;
  }
}

.posts-container-ws .posts-container .postcard .image-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
  text-align: center;
}

.posts-container-ws .posts-container .postcard .image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts-container-ws .posts-container .postcard .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  color: black;
  overflow-wrap: break-word;
  margin: 0 8px 8px 8px;
}

.posts-container-ws .posts-container .postcard .caption h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
}

.posts-container-ws .posts-container .postcard .caption p {
  font-family: 'PT Serif', serif;
  background: -webkit-linear-gradient(#444, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  margin-bottom: 0;
}

.posts-container-ws .posts-container .postcard .caption .pub-date-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 0.66rem;
}

.posts-container-ws .posts-container .postcard .caption .pub-date-author .author {
  color: #1a54e7;
  font-weight: bold;
}

.posts-container-ws .posts-container .postcard:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.posts-container-ws .posts-container #figlnk:hover {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .navbar {
    display: none;
  }
  footer .footertext {
    margin-left: 6.5em !important;
  }
  footer img {
    margin-top: 2px;
  }
}

@media screen and (max-width: 800px) {
  .logo-text {
    float: right;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .logo {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
  }
  header .menu {
    display: none;
    top: -100px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
  }
  figure.figure img {
    height: 200px;
  }
  footer p {
    font-size: 70%;
  }
  footer .footer-logo img {
    width: 70px;
  }
  .maincont h1 {
    font-size: 200%;
  }
  .maincont .author {
    max-width: 60%;
  }
  .maincont .author span {
    font-size: 60%;
  }
  .maincont .content {
    margin: 20px 10px;
    padding: 0 25px;
  }
  .maincont .content img {
    max-width: 80%;
  }
  .maincont .content p {
    font-size: 90%;
  }
}

@media screen and (max-width: 600px) {
  .dopcont {
    width: 100%;
    padding: 0;
  }
  .dopcont p.caption {
    font-size: 15px;
    line-height: 1.3em;
  }
  .dopcont .dopcontr {
    border-left: 2px solid  #1a54e7;
    margin-left: 15px;
    width: 100%;
  }
  .dopcont .dopcontl {
    border-right: 2px solid #48BA4A;
    margin-right: 15px;
    width: 100%;
  }
  footer p {
    font-size: 60%;
  }
  footer .footertext2 p {
    font-size: 47%;
  }
  footer .footer-logo img {
    width: 50px;
  }
}

@media screen and (max-width: 500px) {
  .logo-text {
    font-size: 20px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-brand img {
    max-width: 70px;
    margin-right: -10px;
  }
  .phys-tech {
    font-size: 8px;
  }
  .dopcont-header {
    width: 100%;
    border: none;
  }
  .dopcont .dopcontr {
    margin-left: 0;
  }
  .dopcont .dopcontl {
    margin-right: 0;
  }
  .bord {
    max-width: 70px;
  }
  .user {
    font-size: 0.4rem;
  }
  .datetime {
    font-size: 0.4rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footertext1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    margin-bottom: 15px;
    width: 300px;
  }
  footer .footertext2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    margin-top: 15px;
    width: 300px;
  }
  footer .footertext2 p {
    font-size: 60%;
  }
  footer p {
    font-size: 60%;
  }
  footer .footer-logo img {
    width: 60px;
  }
  .maincont .col-lg-5 {
    border-bottom: none;
  }
  .maincont h1 {
    font-size: 200%;
  }
  .maincont .author {
    max-width: 60%;
  }
  .maincont .author span {
    font-size: 50%;
  }
  .maincont .content {
    margin: 20px 10px;
    padding: 0 25px;
  }
  .maincont .content img {
    max-width: 80%;
  }
  .maincont .content p {
    font-size: 90%;
  }
  .thirdcol {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .logo-text {
    font-size: 15px;
    margin-top: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */