@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
header {
    display: flex;
    width: 100%;
    z-index: 3;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #1a54e7;
}

.logo img {
    max-width: 100px;
    max-height: 50px;
}

.navbar-brand img{
    max-width: 100px;
    max-height: 50px;
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #fefdff;
    margin: 0 15px;
    white-space: nowrap;
    line-height: 0.8em;
}

header .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu .menu-item a {
    height: 100%;
    display: flex;
    text-align: center;
    padding: 20 15;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: -1px;
    color: #1a54e7;

    transition: border 1s ease;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menu .menu-item:first-child {
    margin-left: 80px;
}

.menu .menu-item a:hover {
    border-bottom: 5px solid #1a54e7;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: none;
    content: ' ';
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 30%;

    cursor: pointer;
    user-select: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav.navbar{
    background-color: #1a54e7 !important;
}

#navitem{
    color: #fefdff;
    font-family: 'Noto Sans', sans-serif;
}

.phys-tech{
    font-size: 12px;
}


@media screen and (max-width: 800px) {
    .logo-text{
        float: right;
    }

    header {
        flex-flow: column;
    }

    .logo {
        width: 100%;
        justify-content: space-around;
        display: none;
    }

    header .menu {
        display: none;
        top: -100px;
        transition: all .6s ease-in-out;
    }
}

@media screen and (max-width: 450px)  {

    .logo-text{
       font-size: 20px;
   }

   .navbar-brand img {
    max-width: 60px;
    margin-right: -10px;
   }

    .phys-tech{
        font-size: 8px;
    }
}


@media screen and (min-width: 800px) {
    .navbar{
        display: none;
    }

}