{% load static %}
{% load docpage_links %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta http - equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static "images/logo2.svg" %}" type="image/svg" width="100%">

    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>Eco-Techno</title>
    {% endif %}
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/flaticon.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    {% block header %}
    <header>
        <div class="logo">
                <a href="{% url 'home' %}" id="header-link">
                    <img src="{% static "images/logo2.png" %}" alt="">
                    <div class="logo-text">
                        <span class="phys-tech">Фізико - Технічний інститут</span>
                        <br>
                        <span class="int-tech">Еко-Техно Україна</span>
                    </div>
                </a>
                <div class="collapsing-menu" id="navbutton">
                    <img src="{% static "images/menu.svg" %}" alt="">
                </div>
        </div>
        <div class="menu">
            <span class="menu-item">
                <a href="{% url 'post_list' %}">Блог</a>
            </span>

            {% get_docpages %}

            {% if user.is_authenticated %}
            <span class="menu-item">
                <a href="{% url 'logout' %}">Вийти</a>
            </span>
                {% if user.is_staff %}
                <span class="menu-item">
                    <a href="/admin/">Admin</a>
                </span>
                {% endif %}
            {% else %}
            <span class="menu-item">
                <a href="{% url 'login' %}">Увійти</a>
            </span>
            <!-- <span class="menu-item">
                <a class="js-open-modal" href="#" data-modal="1">Вхід</a>
            </span> -->
            {% endif %}

            {% comment %} Someday we'll write about us {% endcomment %}
            {% comment %} <span class="menu-item">
                <a href="">About Us</a>
            </span> {% endcomment %}
        </div>
    </header>
    {% endblock %}

    <div class="content-wrapper">
    {% block content %}


    {% endblock %}
    </div>

    <div class="modal" data-modal="1">
        <!--   Svg иконка для закрытия окна  -->
        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="filter: invert(100%)"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <h3>Увійти</h3>
        <form  method="post" class="login-form">
            {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="email">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <div class="password">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
        </div>
        
        <button type="submit" class="login-button">Login</button>
        </form>
         </div>
     
     <div class="overlay js-overlay-modal"></div>

    {% block footer %}
    <div class="social-links-container">
        <a href="https://t.me/joinchat/AAAAAFVUyKtlBps9pNvJaQ" target="_blank"><img src="{% static "images/social-logo/089-telegram.svg" %}" alt=""></a>
        <a href="https://t.me/eko_tech_Ukraine2021" target="_blank"><img src="{% static "images/social-logo/090-telegram.svg" %}" alt=""></a>
        <a href="https://www.facebook.com/groups/1437429776451672/?ref=share" target="_blank"><img src="{% static "images/social-logo/024-facebook.svg" %}" alt=""></a>
        <a href="https://instagram.com/eco_techno2021?igshid=150rn1sygy17i" target="_blank"><img src="{% static "images/social-logo/044-instagram.svg" %}" alt=""></a>
    </div>
    <footer class="container-footer">
        <div class="footer-logo">
          <img src="{% static "images/logo1.png" %}" alt="">
        </div>
        <div class="footertext1">
          <p>Фiзико-технiчний інститут</p>
          <p>Еко-Техно Україна</p>
        </div>
        <div class="footertext2">
          {% comment %}<p>Адреса: 03056, Київ, пр.Перемоги, 37, НТУУ "КПI"</p>
          <p>Контакти: тел. 236-70-98, 454-98-75;</p> {% endcomment %}
          <p><a href="mailto:ipt.kpi.ua@gmail.com">ipt.kpi.ua@gmail.com</a></p>
          <p><a href="mailto:technoipt2021@gmail.com">technoipt2021@gmail.com</a></p>
        </div>

  </footer>
    {% endblock %}
    {% comment %} JS {% endcomment %}
    <script src="{% static "scripts/modal.js" %}"></script>
    <script src="{% static "scripts/nav.js" %}"></script>
    {% comment %} <script src="{% static "js/popper.min.js" %}"></script> {% endcomment %}
</body>

</html>
