{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% comment %}
        docpage_list -- список страниц

        теперь пусть docpage это какая-то конкретная страница (объект в бд)
            {% url 'documents_detail' docpage.slug %} -- ссылка на какой-то докпэйдж
            
            описание остальных аттрибутов есть в docpage_detail.html
    {% endcomment %}

    {% for docpage in docpage_list %}
        <h2><a href="{% url 'documents_detail' docpage.slug %}">{{ docpage.name }}</a></h3>
    {% endfor %}

    {% comment %} 
        А это пагинация. Можешь менять структуру html и убирать некоторые {{}}
    {% endcomment %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
