{% extends 'base.html' %}
{% load humanize %}

{% block content %}
{% comment %}
docpage.name -- название статической страницы
docpage.text -- описание к странице (текст)
docpage.files.all -- список файлов, прикреплённых к странице

теперь по поводу файлов. пусть у нас есть файл doc
тогда:
doc.upload.url -- ссылка на сам файл
doc.upload.name -- название файла при загрузке
doc.name -- название файла, присковенное пользователем при загрузке
doc.date -- дата последней загрузки
{% endcomment %}
<div class="container">
    <div class="row">
        <div class="col class static-main">
            {% comment %} <div class="bord"></div> {% endcomment %}
            <h1 class="docpage-header">{{ docpage.name }}</h1>

            <p>{{ docpage.text|safe }}</p>

            <div class="downloadfiles">
            {% for doc in docpage.files.all %}
                <a href="{{ doc.upload.url }}" class="downloadfile">
                    {% comment %} <div class="downloadfile"> {% endcomment %}
                        <h6>{{ doc.name }}</h6>
                        <p class="updated">Оновлено: {{ doc.date|naturaltime }}</p>
                    {% comment %} </div> {% endcomment %}
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
